<%- include('../includes/start.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/loginForm.css"> 
<%- include('../includes/headBody.ejs') %>
    <%- include('../includes/header.ejs') %>
    <div id="userInfoPanel">
        <a class="userInfoPanelBoxLeft" href="/"> Home </a>        
        <a class="userInfoPanelBoxRight" href="/<%= rollNo %>/logout"> Logout </a>
        <a class="userInfoPanelBoxRight" href="/<%= rollNo %>/personal-info"> <%= name %> </a>
    </div>
    <div id="loginForm">
        <h1>Change Password</h1>
        <br>
        <h2>Roll Number : <%= rollNo %></h2>
        <h2>Name : <%= name %></h2>
        <br>
        <form action="/<%= rollNo %>/change-password" method="POST">
            <div class="inputBox">
                <input type="password" name="oldPassword" required>
                <label >Old Password</label>
            </div> 
            <div class="inputBox">
                <input type="password" name="newPassword" id="newPassword" onkeyup="passwordMatch();" required>
                <label >New Password</label>
            </div> 
            <div class="inputBox">
                <input type="password" name="confirmPassword" id="confirmPassword" onkeyup="passwordMatch();" required>
                <label >Confirm Password</label>
            </div> 
            <p id="passwordFlash"></p>            
            <input type="submit" id="submitBtn" value="CHANGE PASSWORD" disabled>
        </form>
    </div>
    <script>
            let confirm;
            let passwordMatch = () => {
                if (document.getElementById('newPassword').value == "" && document.getElementById('confirmPassword').value == "") {
                    document.getElementById('submitBtn').disabled = true;
                    document.getElementById('passwordFlash').style.display = 'none';
                } else if (document.getElementById('newPassword').value == document.getElementById('confirmPassword').value) {
                    document.getElementById('passwordFlash').innerHTML = 'Password matched!';
                    document.getElementById('passwordFlash').style.color = 'green';
                    document.getElementById('submitBtn').disabled = false;
                    document.getElementById('passwordFlash').style.display = 'block';
                } else {
                    document.getElementById('passwordFlash').innerHTML = 'Password not matched!';
                    document.getElementById('passwordFlash').style.color = 'red';
                    document.getElementById('submitBtn').disabled = true;
                    document.getElementById('passwordFlash').style.display = 'block';
                }
            }
        </script>
<%- include('../includes/end.ejs') %>