<%- include('../includes/start.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/user.css"> 
<%- include('../includes/headBody.ejs') %>
    <%- include('../includes/header.ejs') %>
    <div id="userInfoPanel">
        <a class="userInfoPanelBoxLeft" href="/<%= student.rollNo %>"> Home </a>
        <a class="userInfoPanelBoxRight" href="/<%= student.rollNo %>/logout"> Logout </a>
        <a class="userInfoPanelBoxRight" href="/<%= student.rollNo %>/personal-info"> <%= student.name %> </a>
    </div>
    <div class="userPersonalInfoBox">
        <table>
            <tr>
                <td>Name</td>
                <td>:</td>
                <td><%= student.name %></td>
            </tr>
            <tr>
                <td>Roll Number</td>
                <td>:</td>
                <td><%= student.rollNo %></td>
            </tr>
            <tr>
                <td>Semester</td>
                <td>:</td>
                <td><%= student.semester %></td>
            </tr>
            <tr>
                <td>Programme</td>
                <td>:</td>
                <td><%= student.programme %></td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>:</td>
                <td><%= student.mobile %></td>
            </tr>
            <tr>
                <td>Email id</td>
                <td>:</td>
                <td><%= student.email %></td>
            </tr>
        </table>
        <a href="/<%= student.rollNo %>/update-personal-info" class="submitBtn">Update Info</a>
        <a href="/<%= student.rollNo %>/change-password" class="submitBtn">Change Password</a>
    </div>
<%- include('../includes/end.ejs') %>
